:root {
  --Dark-Toggle: linear-gradient(#378fe6 to #3dd981);
  --Light-Toggle: #aeb3cb;

  /* dark theme */
  --Dark-Bg: #1e202a;
  --Dark-TopBg: #1f212e;
  --Dark-CardBg: #252a41;
  --Dark-Text: #8b97c6;
  --Dark-White-Text: #ffffff;

  /* light theme */
  --Light-White-BG: #ffffff;
  --Light-TopBG: #f5f7ff;
  --Light-CardBG: #f0f2fa;
  --Light-Grayish-Blue-Text: #63687e;
  --Light-Blue-Text: #1e202a;

  --Lime-Green: #1db489;
  --Bright-Red: #dc414c;
  /* sosmed */
  --Facebook: #198ff5;
  --Twitter: #1ca0f2;
  --Instagram: linear-gradient(#fdc468 to #df4996);
  --YouTube: #c4032a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter";
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--Light-White-BG);
}

.top-bg {
  width: 100vw;
  height: 30%;
  background-color: var(--Light-TopBG);
  border-radius: 0 0 24px 24px;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 40px 140px;
  color: var(--Light-Blue-Text);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.brand-name {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 7px;
}

.total-followers {
  text-transform: capitalize;
  color: var(--Dark-Text);
  font-weight: 600;
  font-size: 14px;
}

.toggle-container {
  display: flex;
  gap: 14px;
  height: 50%;
  align-items: center;
  text-transform: capitalize;
}

.toggle-name {
  color: var(--Dark-Text);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.switch {
  --button-width: 3.5em;
  --button-height: 1.5em;
  --toggle-diameter: 1em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: var(--color-green)
}

.slider {
  cursor: pointer;
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background: rgb(55, 143, 230);
  background: linear-gradient(90deg, rgba(55, 143, 230, 1) 0%, rgba(61, 217, 129, 1) 100%);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* toggle-end */

/* section card */
section {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card-section {
  width: 23%;
  height: 100%;
  transition: 0.3s all ease-in;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  position: relative;
  background-color: var(--Light-CardBG);
}

.border-top {
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  border-radius: 7px 7px 0 0;
  background-color: var(--Facebook);
}

.instagram .border-top {
  background: rgb(253, 196, 104);
  background: linear-gradient(90deg, rgba(253, 196, 104, 1) 0%, rgba(223, 73, 150, 1) 100%);
}

.youtube .border-top {
  background-color: var(--YouTube);
}

.fa-square-facebook {
  color: var(--Facebook);
}

.fa-twitter {
  color: var(--Twitter);
}

.fa-instagram {
  color: var(--Instagram);
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdc468), to(#df4996));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube {
  color: #fff;
  font-size: 0.5em;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--YouTube);
}

.sosmed-card {
  width: auto;
  display: flex;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}

.sosmed-name {
  color: var(--Light-Grayish-Blue-Text);
  font-weight: 600;
}

.foll-num {
  font-size: 3em;
  font-weight: 600;
}

.foll-text {
  text-transform: uppercase;
  color: var(--Light-Grayish-Blue-Text);
  letter-spacing: 6px;
  font-size: 12px;
  font-weight: 600;
}

.today-status,
.response-status {
  color: var(--Lime-Green);
  font-size: 12px;
  font-weight: 800;
}

.youtube .today-status {
  color: var(--YouTube);
}

.fa-caret-up,
.fa-caret-down {
  margin: 4px;
}
/* section card */

/* wrapper-start */
.wrapper {
  width: 100%;
  height: 250px;
}

.title-wrapper {
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--Light-Grayish-Blue-Text);
  margin-bottom: 10px;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 23%;
  height: 100px;
  padding: 18px 14px;
  display: flex;
  border-radius: 7px;
  justify-content: space-between;
  transition: 0.3s all ease-in;
  background-color: var(--Light-CardBG);
}

.left,
.right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.right {
  align-items: flex-end;
}

.response-name {
  text-transform: capitalize;
  color: var(--Light-Grayish-Blue-Text);
  font-weight: 600;
  font-size: 0.8em;
}

.response-num {
  font-size: 1.5em;
  color: var();
  font-weight: 800;
}

.dua .right .response-status,
.tujuh .right .response-status,
.delapan .right .response-status {
  color: red;
}

.card:hover,
.card-section:hover {
  cursor: pointer;
  background-color: var(--Light-Toggle);
}

/* dark mode toggle start */
.dark-light-text {
  color: #fff;
}
.dark-bg {
  background-color: var(--Dark-Bg);
}
.dark-top-bg {
  background-color: var(--Dark-TopBg);
}

.dark-card {
  background-color: var(--Dark-CardBg);
}

/* tab styling */
@media only screen and (width <= 1000px) {
  .container {
    padding: 40px;
    height: auto;
  }

  nav {
    height: 100px;
  }

  section {
    margin-bottom: 30px;
    height: auto;
  }

  .card-section {
    padding: 40px 0;
    gap: 10px;
    margin-bottom: 1000px;
    font-size: 1.2em;
  }

  .card-section,
  .card {
    width: 48%;
    margin-bottom: 30px;
  }

  .wrapper {
    font-size: 1.3em;
    height: auto;
  }
  .card {
    padding: 20px;
    height: 130px;
  }

  .response-icon {
    font-size: 1.2em;
  }

  .response-status {
    font-size: 0.8em;
  }
}

@media only screen and (width <= 600px) {
  .container {
    padding: 30px;
  }

  nav {
    height: 140px;
    display: block;
  }

  .toggle-container {
    justify-content: space-between;
    border-top: 1px solid var(--Light-Grayish-Blue-Text);
    margin-top: 20px;
  }

  .card-section,
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
}
